.FormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #f4d35e;
  box-shadow: 5px 10px #ee964b;
  padding-bottom: 20px;
  background-color: #083d77;
  border-radius: 10%;
  width: 35vh;
}

.SearchForm {
  flex: 1;
  color: #ebebd3;
  padding-left: 5px;
}

input {
  width: 90%;
}

button {
  background-color: #f95738;
  border-radius: 5%;
  color: #ebebeb;
}

@media screen and (min-width: 768px) {
  .FormContainer {
    width: 60vh;
  }
}
