/** @format */

.Result {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-bottom: 5px;
}

p {
  color: black;
}
img {
  width: 300px;
  display: flex;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #083d77;
}

a {
  text-decoration: none;
  padding: 10px;
}

.tmlink {
  color: #083d77;
}

.favorite {
  padding: 10px;
  border-radius: 30px;
}

.Result ::marker {
  text-decoration: none;
}
