/** @format */

.Result {
  width: 100%;
  list-style: none;
}

p {
  color: black;
}
img {
  width: 300px;
  display: flex;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #083d77;
}

a {
  text-decoration: none;
  padding: 10px;
}

.favorite {
  padding: 10px;
  border-radius: 30px;
}

.Result ::marker {
  text-decoration: none;
}
